{% extends 'base.html' %}

{% block title %}Content Management{% endblock %}

{% block content %}
<div class="py-5">
    <h2 class="mb-4">Manage Content</h2>


    <!-- Search form -->
    <form method="GET" action="{{ url_for('content_management.content_management') }}">
        <input class="form-control mb-3" name="search" type="text" placeholder="Search files..." value="{{ request.args.get('search', '') }}">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    <ul class="list-group" id="fileList">
        {% for content in contents %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ content.file_name }}
            <div>
                <!-- Form for removing files -->
                <form action="{{ url_for('content_management.remove_file', file_id=content.file_name) }}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- Button to Open the Modal -->
    <button id="addFileBtn" class="btn btn-primary mt-3" data-toggle="modal" data-target="#addFileModal">Add New File</button>

    <!-- The Modal -->
    <div class="modal fade" id="addFileModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('content_management.add_file') }}" method="post">
                        <div class="form-group">
                            <label for="fileName">File Name:</label>
                            <input type="text" class="form-control" id="fileName" name="fileName" required>
                        </div>
                        <div class="form-group">
                            <label for="fileType">File Type:</label>
                            <select class="form-control" id="fileType" name="fileType">
                                <option>Video</option>
                                <option>Image</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fileKeywords">Keywords:</label>
                            <textarea class="form-control" id="fileKeywords" name="fileKeywords" rows="3" placeholder="Entrer des mots clés séparés par virgule (e.g., nature, comédie)"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add File</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
