{% extends 'base.html' %}

{% block title %}Content Management{% endblock %}

{% block content %}
<div class="py-5">
    <h2 class="mb-4">Manage Content</h2>
    <!-- Search form -->
    <form method="GET" action="{{ url_for('content_management.content_management') }}">
        <input class="form-control mb-3" name="search" type="text" placeholder="Search files..." value="{{ request.args.get('search', '') }}">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    <ul class="list-group" id="fileList">
        {% for content in contents %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ content.file_name }}
            <div>
                <!-- Form for removing files -->
                <form action="{{ url_for('content_management.remove_file', file_id=content.file_name) }}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- Replace # with your actual route for adding files -->
    <a href="#" class="btn btn-primary mt-3">Add New File</a>
</div>

{% endblock %}
